<div class="imageContainer" id="main_image">
    <span class="top_span"></span>
    <span class="bottom_span">

        <p class="top_text" style="font-family:Pacifico;">What's Her Sign?</p>

        	<!-- <form> -->
		  <input style="width:500px;height:35px;vertical-align:middle;" type="text" id="search_name" placeholder=" Name"><!--

		    --><button style="vertical-align:middle;" id="search_btn" class="btn btn-primary" type="submit" onClick="javascript:get_info();">
		    		<img class="search_img" id="search_icon" src="../static/images/search_white.png"/>
		    		<span id="search_load" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
		    	</button>
		    <!-- </form> -->


    </span>


</br>
    
</br>
</div>