<html>
  <head>
    <!-- bootstrap -->
    <script src="//codeorigin.jquery.com/jquery-2.0.3.min.js"></script> 
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    <!-- Custom -->
    <link href="https://rawgithub.com/jstoxrocky/d3sg/master/d3sg_style.css" type="text/css" rel="stylesheet">
    <script src="https://rawgithub.com/jstoxrocky/d3sg/master/d3sg.js"></script>
    <link href="static/theme.css" type="text/css" rel="stylesheet">
    <script src="static/frontsite.js"></script>
    <script src="static/on_doc_load.js"></script>
    <link rel="shortcut icon" type="image/png" href="../static/images/little-birdy-fav.png"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.9/d3.js"></script>



    <!-- Google fonts -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    

    <title>What's Her Sign?</title>


  </head>
  <body>

    <!-- Wrap all page content here -->
    <div id="wrap">
        {% block content %} 

    
        {% endblock %}

    <!-- Begin page content -->
    <div class="container">
    </div>
    </div>


    <!-- <div id="popup">FILE 1</div> -->



  </body>
</html>






