<script>
	$(document).ready(function(){

		// $('#matches_load').hide();
		explore_info()
		
	});
</script>

<!-- 
    <span class="top_span_loading"></span>
    <span class="bottom_span" style="width:100%;text-align:center;">
        <span id="explore_load" style="font-size:5em;" class="glyphicon glyphicon-refresh glyphicon-refresh-animate" style="color:black;"></span>
    </span> -->

<section>



    <div id="explore_info" class="container" style="width:80%"></div>
    


    <!-- Trigger the modal with a button -->
    <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button> -->

    <!-- Modal -->



</section>


