<section id="section_submit">
    <div class="container" style="width:75%;padding-top:50px;padding-bottom:50px;">
        <h1>Log in to Tinder</h1>
    </div>
    <div class="container" style="width:75%;">

        

        <!-- <button class="btn btn-primary" id="submit_hw" type="button">Submit</button> -->

<form id="login_form" method="post" enctype="multipart/form-data" class="form-horizontal">

        <div id="fb_id_input" class="form-group">
            <label class="control-label col-xs-2" for="fb_id_add">Facebook User ID</label>
            <div class="col-xs-10">
                <input id="fb_id_add" type="text" class="form-control" required placeholder="464891386955067">
            </div>
        </div>

        <div id="fb_auth_input" class="form-group">
            <label class="control-label col-xs-2" for="fb_auth_add">Facebook Auth Token</label>
            <div class="col-xs-10">
                <input id="fb_auth_add" type="text" class="form-control" required placeholder="CAAGm0PX4ZCpsBAHhIAmpMfwXCYNwwrGInGZA9FILOmuGVHlNoNo7aZCZBZAQ51Jk2bb54wWoXP56FlupZA0v2PEdD8ErzPsj4x5syMNaAVPfXNyjsX3Vat736sa9ZCvQwPMOzgM8lD2Nd1pqvV1UoBIbtHXZBiuCOkfeZBOxCWZAuZA34HWN1YaUYhduhfkybNHSa0phQ0ZCru7U2wZDZD">
            </div>
        </div>

        <div id="file_input" class="form-group">
            <label class="control-label col-xs-2"></label>
            <div class="col-xs-10">
                <button class="btn btn-primary" id="upload-file-btn" type="button" onClick="javascript:login();">Log In</button>
            </div>
        </div>
</form>


    </div>

</section>