<section id="section_submit">
    <div class="container" style="width:75%;padding-top:50px;padding-bottom:50px;">
        <h1>Log in to Tinder</h1>
    </div>
    <div class="container" style="width:75%;">

        

        <!-- <button class="btn btn-primary" id="submit_hw" type="button">Submit</button> -->

<form id="login_form" method="post" action="/login" class="form-horizontal">

        <div id="fb_id_input" class="form-group">
            <label class="control-label col-xs-2" for="fb_id_add">Facebook User ID</label>
            <div class="col-xs-10">
                <input name="fb_id" type="text" class="form-control" required placeholder="464891386955067">
                <a target="_blank" href="http://findmyfbid.com/">Find it here</a>
            </div>
        </div>

        <div id="fb_auth_input" class="form-group">
            <label class="control-label col-xs-2" for="fb_auth_add">Facebook Auth Token</label>
            <div class="col-xs-10">
                <input name="fb_auth_token" type="text" class="form-control" required placeholder="CAAGm0PX4ZCpsBAHhIAmpMfwXCYNwwrGI">
                <a target="_blank" href="https://www.facebook.com/dialog/oauth?client_id=464891386855067&redirect_uri=https://www.facebook.com/connect/login_success.html&scope=basic_info,email,public_profile,user_about_me,user_activities,user_birthday,user_education_history,user_friends,user_interests,user_likes,user_location,user_photos,user_relationship_details&response_type=token">Find it here</a>
            </div>
        </div>

        <div id="file_input" class="form-group">
            <label class="control-label col-xs-2"></label>
            <div class="col-xs-10">
                <input type="submit" name="submit" value="Submit" class="btn btn-primary"/>
                
            </div>
        </div>
</form>


    </div>

</section>